{
  "openapi": "3.0.1",
  "info": {
    "title": "Localization API",
    "description": "An API for translating text content into multiple languages",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://revapi.reverieinc.com"
    }
  ],
  "paths": {
    "/localization": {
      "post": {
        "description": "Translates text content to one or multiple target languages",
        "requestBody": {
          "description": "Text content to be translated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranslationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Translation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationResponse"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized to use this src/tgt language",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TranslationRequest": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "description": "The text you want to translate. This is the input text that will be processed by the translation model.",
            "items": {
              "type": "string"
            }
          },
          "src_lang": {
            "type": "string",
            "example": "en"
          },
          "tgt_lang": {
            "type": "string",
            "example": "hi,ta"
          },
          "domain": {
            "type": "string",
            "example": "generic",
            "description": "The Domain refers to the universe in which you use the Transliteration API. Example - Health Care, Insurance, Legal, etc.\n\n **Available Domains:**\n\n * `General`: The default domain. Localizes content irrespective of the domain.\n * `Travel`: Trained for travel industry terminologies.\n * `Ecommerce`: Helps localize content in the Ecommerce domain.\n * `Music`: Trained for Media & Entertainment domain translations.\n * `Banking`: Accurately translates BFSI domain content.\n * `Grocery`: Specially built for grocery industry terminologies.\n * `Education`: Helps translate academic content.\n * `Medical`: Serves the healthcare industry.\n\n **Note**: Mention the domain ID. Refer to Supporting Domain above for valid domain ID. The default domain 1"
          },
          "nmtMask": {
            "type": "boolean",
            "example": true
          },
          "nmtMaskTerms": {
            "type": "object"
          },
          "enableNmt": {
            "type": "boolean",
            "example": true
          },
          "enableLookup": {
            "type": "boolean",
            "example": false
          }
        },
        "required": ["data", "domain"]
      },
      "TranslationResponse": {
        "type": "object",
        "properties": {
          "responseList": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "inString": {
                  "type": "string"
                },
                "outStrings": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "apiStatus": {
                  "type": "integer"
                }
              }
            }
          },
          "tokenConsumed": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        }
      }
    }
  }
}
