{
    "openapi": "3.0.1",
    "info": {
      "title": "Localization API",
      "description": "An API for translating text content into multiple languages",
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://revapi.reverieinc.com"
      }
    ],
    "paths": {
      "/localization": {
        "post": {
          "description": "Translates text content to one or multiple target languages",
          "requestBody": {
            "description": "Text content to be translated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranslationRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Translation response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/TranslationResponse"
                  }
                }
              }
            },
            "403": {
              "description": "Unauthorized to use this src/tgt language",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Error"
                  }
                }
              }
            }
          },
          
          "parameters": [
            
            {
              "name": "Content-Type",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "application/json",
                "description":"The format of the data to be posted."
              }
            },
            {
              "name": "REV-API-KEY",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "<YOUR API KEY>",
                "description":"A unique key/token provided by Reverie to identify the user using the Localization API."
              }
            },
            {
              "name": "REV-APP-ID",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "<YOUR APP-ID>",
                "description":"The unique account ID to identify the user and the default account settings."
              }
            },
            {
              "name": "src_lang",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "en",
                "description": "The language of the input text\n\n **Available Language Codes:**\n\n * `hi` : Hindi\n * `en` : English\n * `as` : Assamese\n * `bn` : Bengali\n * `gu` : Gujarati\n * `kn` : Kannada\n * `kok` : Konkani\n * `ml` : Malayalam\n * `mr` : Marathi\n * `mai` : Maithili\n * `or` : Odia\n * `pa` : Punjabi\n * `ta` : Tamil\n * `te` : Telugu\n * `ne` : Nepali\n * `ur` : Urdu\n\n **Note**: The user is allowed to use only the authorized language codes configured while sharing the REV-APP-ID and REV-API-KEY."
  
              }
            },
            {
              "name": "tgt_lang",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "hi",
                "description": "Language to which you want to localize the input text Note- To enter multiple target languages, separate the value using the comma separator(,). For example: “tgt_lang” : “hi, ta”\n\n **Available Language Codes:**\n\n * `hi` : Hindi\n * `en` : English\n * `as` : Assamese\n * `bn` : Bengali\n * `gu` : Gujarati\n * `kn` : Kannada\n * `kok` : Konkani\n * `ml` : Malayalam\n * `mr` : Marathi\n * `mai` : Maithili\n * `or` : Odia\n * `pa` : Punjabi\n * `ta` : Tamil\n * `te` : Telugu\n * `ne` : Nepali\n * `ur` : Urdu\n\n **Note**: The user is allowed to use only the authorized language codes configured while sharing the REV-APP-ID and REV-API-KEY."
  
              }
            },
            {
              "name": "domain",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "generic",
                "description": "The Domain refers to the universe in which you use the Transliteration API. Example - Health Care, Insurance, Legal, etc.\n\n **Available Domains:**\n\n * `General`: The default domain. Localizes content irrespective of the domain.\n * `Travel`: Trained for travel industry terminologies.\n * `Ecommerce`: Helps localize content in the Ecommerce domain.\n * `Music`: Trained for Media & Entertainment domain translations.\n * `Banking`: Accurately translates BFSI domain content.\n * `Grocery`: Specially built for grocery industry terminologies.\n * `Education`: Helps translate academic content.\n * `Medical`: Serves the healthcare industry.\n\n **Note**: Mention the domain ID. Refer to Supporting Domain above for valid domain ID. The default domain 1"
              }
            },
            {
              "name": "REV-APPNAME",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "localization",
                "description":"The parameter to identify the API."
              }
            },
            {
              "name": "REV-APPVERSION",
              "in": "header",
              "required": true,
              "schema": {
                "type": "string",
                "example": "3.0",
                "description":"The version refers to the specific iteration of the API that is being called."
              }
            }
          ],
           "x-codeSamples": [
            {
              "lang": "curl",
              "source": "curl --request POST \\\n--url https://revapi.reverieinc.com/localization \\\n--header 'Content-Type: application/json' \\\n--header 'REV-API-KEY: <YOUR API KEY>' \\\n--header 'REV-APP-ID: <YOUR APP-ID>' \\\n--header 'REV-APPNAME: localization' \\\n--header 'REV-APPVERSION: 3.0' \\\n--header 'domain: generic' \\\n--header 'src_lang: en' \\\n--header 'tgt_lang: hi' \\\n--data '{\n  \"data\": [\"Hello, how are you?\"],\n  \"nmtMask\": true,\n  \"enableNmt\": true,\n  \"enableLookup\": false\n}'"
            },
            {
              "lang": "python",
              "source": "import requests\n\nurl = \"https://revapi.reverieinc.com/localization\"\n\nheaders = {\n    \"Content-Type\": \"application/json\",\n    \"REV-API-KEY\": \"<YOUR API KEY>\",\n    \"REV-APP-ID\": \"<YOUR APP-ID>\",\n    \"src_lang\": \"en\",\n    \"tgt_lang\": \"hi\",\n    \"domain\": \"generic\",\n    \"REV-APPNAME\": \"localization\",\n    \"REV-APPVERSION\": \"3.0\"\n}\n\nresponse = requests.post(url, headers=headers)\nprint(response.text)"
            },
            {
              "lang": "java",
              "source": "HttpResponse<String> response = Unirest.post(\"https://revapi.reverieinc.com/localization\")\n  .header(\"Content-Type\", \"application/json\")\n  .header(\"REV-API-KEY\", \"<YOUR API KEY>\")\n  .header(\"REV-APP-ID\", \"<YOUR APP-ID>\")\n  .header(\"src_lang\", \"en\")\n  .header(\"tgt_lang\", \"hi\")\n  .header(\"domain\", \"generic\")\n  .header(\"REV-APPNAME\", \"localization\")\n  .header(\"REV-APPVERSION\", \"3.0\")\n  .asString();"
            },
            {
              "lang": "javascript",
              "source": "const options = {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'REV-API-KEY': '<YOUR API KEY>',\n    'REV-APP-ID': '<YOUR APP-ID>',\n    'src_lang': 'en',\n    'tgt_lang': 'hi',\n    'domain': 'generic',\n    'REV-APPNAME': 'localization',\n    'REV-APPVERSION': '3.0'\n  }\n};\nfetch('https://revapi.reverieinc.com/localization', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
            },
            {
              "lang": "go",
              "source": "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"io/ioutil\"\n)\n\nfunc main() {\n  url := \"https://revapi.reverieinc.com/localization\"\n  req, _ := http.NewRequest(\"POST\", url, nil)\n  req.Header.Add(\"Content-Type\", \"application/json\")\n  req.Header.Add(\"REV-API-KEY\", \"<YOUR API KEY>\")\n  req.Header.Add(\"REV-APP-ID\", \"<YOUR APP-ID>\")\n  req.Header.Add(\"src_lang\", \"en\")\n  req.Header.Add(\"tgt_lang\", \"hi\")\n  req.Header.Add(\"domain\", \"generic\")\n  req.Header.Add(\"REV-APPNAME\", \"localization\")\n  req.Header.Add(\"REV-APPVERSION\", \"3.0\")\n  res, _ := http.DefaultClient.Do(req)\n  defer res.Body.Close()\n  body, _ := ioutil.ReadAll(res.Body)\n  fmt.Println(string(body))\n}"
            },
            {
              "lang": "php",
              "source": "<?php\n$curl = curl_init();\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://revapi.reverieinc.com/localization\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_HTTPHEADER => [\n    \"Content-Type: application/json\",\n    \"REV-API-KEY: <YOUR API KEY>\",\n    \"REV-APP-ID: <YOUR APP-ID>\",\n    \"REV-APPNAME: localization\",\n    \"REV-APPVERSION: 3.0\",\n    \"domain: generic\",\n    \"src_lang: en\",\n    \"tgt_lang: hi\"\n  ],\n]);\n$response = curl_exec($curl);\n$err = curl_error($curl);\ncurl_close($curl);\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
            }
          ]
        }
      }
    },
    "components": {
      "schemas": {
        "TranslationRequest": 
        {
          "type": "object",
          "properties": {
            "data": {
              "type": "array",
              "description": "The text you want to translate. This is the input text that will be processed by the translation model.",
              "items": {
                "type": "string"
              }
            },
            "nmtMask": {
          "type": "boolean",
          "description": "Determines the Words that are to be masked.\n\n **Note** - On defining values in the nmtMaskTerms, then automatically the nmtMask is set to true.\n\n **Example** - Masking a term - `nmtMaskTerms`: [`Reverie Language Technologies`] Here, the API will mask the term Reverie Language Technologies, if found in the source content, and will transliterate the word.",
          "example": false
        },
            "nmtMaskTerms": {
              "type": "object"
            },
            "enableNmt": {
              "type": "boolean",
              "example": true
            },
            "enableLookup": {
              "type": "boolean",
              "example": false
            }
          },
          "required": ["data", "domain"]
        },
        "TranslationResponse": {
          "type": "object",
          "properties": {
            "responseList": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "inString": {
                    "type": "string"
                  },
                  "outStrings": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "apiStatus": {
                    "type": "integer"
                  }
                }
              }
            },
            "tokenConsumed": {
              "type": "integer"
            }
          }
        },
        "Error": {
          "type": "object",
          "properties": {
            "message": {
              "type": "string"
            },
            "status": {
              "type": "integer"
            }
          }
        }
      }
    }
  }